.contact {
	
	&__info {
		align-self: center;
		padding: 3rem 1rem;

		@include below (sm) {
			width: 100%;
			margin-top: 3rem; 
			margin-bottom: 6rem;
		}

		@include above (sm) {
			padding: 6rem 3rem;
			margin-top: 9rem;
		}
	}

	&__title {
		margin-top: 0;

		@include above (lg) { 
			font-size: 75px;
			margin-bottom: 2rem;
		}
	}	
}

#contact {
	position: relative;

	&:before, &:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 5rem; 
		z-index: 10;
	}

	&:before {
		top: -4.9rem;
		background: url('../img/border_top.svg') repeat-x center center;
		background-size: contain;
	}

	&:after {
		bottom: -.1rem;
		background: url('../img/border_bottom_black_blue.svg') repeat-x center center;
		background-size: contain;
	}
}