.header {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;

	&__logo {
		display: block;
		float: left;

		img {
			width: 160px;
			height: 84px;

			@include between (sm, md) {
				width: 260px;
				height: 137px;	
			}

			@include above (md) {
				width: 360px;
				height: 189px;
			}
		}
	}
}