.home {

	#wysiwygs-1 {
		position: relative;

		&:before {
			top: -4.9rem;
			background: url('../img/border_top.svg') repeat-x center center;
			background-size: contain;
			content: '';
			position: absolute;
			width: 100%;
			height: 5rem; 
			z-index: 10;
		}

		@include below (sm) {
			padding-bottom: 6rem;
		}

		@include above (sm) {
			padding-top: 3rem;
		}

		@include above (md) {
			padding-top: 10rem;
		}
	}

	#wysiwygs-2 {
		position: relative;

		&:before {
			top: -4.9rem;
			background: url('../img/border_top_blue.svg') repeat-x center center;
			background-size: contain;
			content: '';
			position: absolute;
			width: 100%;
			height: 5rem; 
			z-index: 10;
		}
	}
}
