/********************LAYOUTS********************/

/* Base Styles */


/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {

  }

  &__col {
	
	@include above (sm) {
  		&.first {
  			p:last-child {
			margin-bottom: 0;
			}
  		}
  	}
	
	&.last {
		p:last-child {
			margin-bottom: 0;
		}
	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

.bg {

  &--brown {

    h2 {
      margin-top: 0;
    }

    a {
      color: $white;
    }

    .fab {
      color: #3b579d;
    }
  }

  &--blue-light {

    p {
      color: $black;
    }
  }
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 10rem;
    }

    &--bottom {
      padding-bottom: 10rem;
    }

    &--both {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}