.page {

	&__hero {
		background-repeat: repeat;
  		background-image: url(../img/bg_pattern.svg); 
  		background-color: #6a8390;
  		padding-top: 5rem;
  		padding-bottom: 5rem;

  		@include above (sm) {
  			padding-top: 15rem;
  			padding-bottom: 15rem;
  		}

  		&--page {
  			padding-top: 5rem;
  			padding-bottom: 5rem;

  			@include above (sm) {
  				padding-top: 12.5rem;
  				padding-bottom: 5rem;
  			}
  		}
	}

	&__container {
		position: relative;
	}

	&__img {

		@include above (sm) {
			position: absolute;
			right: 1rem;
			top: 8rem;
			z-index: 20;
		}
	}

	&__text {
		font-family: 'AdageScriptJF', sans-serif;
		line-height: 1;
		font-size: 50px;

		@include above (sm) {
			font-size: 80px;
		}

		@include above (md) {
			font-size: 100px;
		}
	}

	&__product {

		@include above (sm) {
			position: absolute;
			top: 20rem;
			z-index: 20;
			left: -1rem;
		}
	}
}
