.variants {

	&__container {

	}

	&__product-featured {

		@include below (sm) {
			margin-top: 3rem;
		}
	}

	&__item {
		
	}	

	&__title {
		margin-top: 0;
		line-height: 1;
	}

	&__btn {
		margin-right: 1rem;
	}
}

.bg--blue {

	.variants__btn {
		@extend .btn--brown;
	}
}

.variants.bg--blue {
	position: relative;

	&:before {
		top: -4.9rem;
		background: url('../img/border_top.svg') repeat-x center center;
		background-size: contain;
		content: '';
		position: absolute;
		width: 100%;
		height: 5rem; 
		z-index: 10;
	}

	@include below (sm) {
		padding-bottom: 6rem;
	}
}

.bg--brown {

	.variants__btn {
		@extend .btn--white;
	}
}

.variants.bg--brown {
	position: relative;

	&:before {
		top: -4.9rem;
		background: url('../img/border_top_brown.svg') repeat-x center center;
		background-size: contain;
		content: '';
		position: absolute;
		width: 100%;
		height: 5rem; 
		z-index: 10;
	}

	@include below (sm) {
		padding-bottom: 6rem;
	}
}

.varianter > .footer {
	position: relative;

	&:before {
		top: -4.9rem;
		background: url('../img/border_bottom_black.svg') repeat-x center center;
		background-size: contain;
		content: '';
		position: absolute;
		width: 100%;
		height: 5rem; 
		z-index: 10;
	}
}