.btn {
	display: inline-block;
	position: relative;
	padding: .6rem 3rem;
	font-size: 20px;
	letter-spacing: 1px;

	&--brown {
		background: $brown;
		color: $white;
	}

	&--white {
		color: $brown;
		background: $white;
	}
}