/* Color classes (modify as needed) */

$colors: "white" $white, "gray" $gray, "black" $black, "blue" $blue, "blue-light" $blue-light, "brown" $brown, "cyan" $cyan;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .bg--#{$label} {
    background-color: $value; 
  }
}
